<div class="col-5 pl-0">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header d-inline">
    <strong>Symbol: </strong><%= @stock.ticker%>
    <strong>Company: </strong><%= @stock.name%>
    <strong>Price: </strong><%= @stock.last_price%>
  </div>
<% end %>
